@media (max-width:700px){
    .contato-local iframe{
        width: 300px;
        height: 300px;
    }
    .contato{
        margin-top: 6rem;
    }
    .contato-local{
        font-size: 13pt;
    }
    .icon-row{
        font-size: 13pt;
    }
    .btn-contato{
        padding: 5px 5px;
        font-size: 10pt;
    }
    .btn-enviar input{
        width: 100% !important;
    }
}

@media (max-width:370px){
    .titulo-global1 h1 {
        font-size: 15pt;
    }

}
