.home{
    padding-top: 15rem;
    background-image: url('../storage/slider/teste1.png');
    padding-bottom: 10rem;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.home-1 h1{
   color: black;
}

.home-1 i {
    color: #FEE600;
}

/*nossas carteiras*/

.texto {
   color: black;
   font-size: 20pt;
}



.carteira {
    margin-left: 10px;
    box-shadow: 2px 2px 2px #bbb;
}


.icones-grandes {
    background-color: #f9f9f9;
}

.area-icones {
    margin-top: 50px;
    margin-bottom: 20%;
}

.icones-texto h5 {
    font-size: 16pt;
    margin-top: -6px;
}

.icones-texto p {
    font-size: 15pt;
}

.icones-texto2 h5 {
    margin-top: 13px;
    font-size: 16pt;
}

.icones-texto2 p {
    margin-top: 10px;
    font-size: 15pt;
}

.titulo-global {
    margin-top: -150px;
}

.titulo-global1 {
    margin-top: 40px;
}

.titulo-pul {
    position: relative;
    display: inline-block;
    margin: 8px;
    margin-left: 42%;
    margin-bottom: 50px;
}





.titulo-pul1 {
    position: relative;
    display: inline-block;
    margin: 8px;
    margin-left: 37%;
    margin-bottom: 50px;
}







.button-pul {
    margin-left: 40%;
}

.btn-pul {
    border: none;
    background-color: #E8B15E;
    border-radius: 5px;
    color: white;
    width: 50%;
    height: 60%;
    font-size: 13pt;
}

.btn-pul:hover {
    background-color: #232236;
    color: #FEE600;
}


.img-car {
    width: 70%;
    margin-top: 5px;
    margin-left: 15%;
}

.img-car1 {
    width: 85%;
    margin-top: 5px;
    margin-left: 5%;
}

.img-car2 {
    width: 65%;
    margin-top: 5px;
    margin-left: 20%;
}

.img-car3 {
    width: 60%;
    margin-top: 5px;
    margin-left: 20%;
}




.btn1 {
    padding: 10px 10px;
    width: 20%;
    cursor: pointer;
    background: black;
    text-decoration: none;
    font-size: 13pt;
    text-align: center;
    color: #ffffff;
    border-radius: 6px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin-left: 40%;
    margin-bottom: 30px;
    margin-top: 20px;
    text-transform: uppercase;
}

.btn-balao-float-bottom {

    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;

}

.btn-balao-float-bottom:before {

    position: absolute;
    z-index: -1;
    content: '';
    left: calc(50% - 10px);
    top: 0;
    border-style: solid;
    border-width: 0 8px 10px 8px;
    border-color: transparent transparent black transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;

}

.btn-balao-float-bottom:hover,
.btn-balao-float-bottom:focus,
.btn-balao-float-bottom:active {

    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    color: #FEE600;
}

.btn-balao-float-bottom:hover:before,
.btn-balao-float-bottom:focus:before,
.btn-balao-float-bottom:active:before {

    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);

}


.btn2 {
    padding: 10px 10px;
    cursor: pointer;
    background: black;
    text-decoration: none;
    color: #ffffff;
    font-size: 13pt;
    text-transform: uppercase;
    border-radius: 6px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.btn-balao-float-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.btn-balao-float-left:before {

    position: absolute;
    z-index: -1;
    content: '';
    top: calc(50% - 10px);
    left: 0;
    border-style: solid;
    border-width: 8px 10px 8px 0;
    border-color: transparent black transparent transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.btn-balao-float-left:hover,
.btn-balao-float-left:focus,
.btn-balao-float-left:active {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
    color: #FEE600;
}

.btn-balao-float-left:hover:before,
.btn-balao-float-left:focus:before,
.btn-balao-float-left:active:before {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
}



.btnn {
    padding: 10px 10px;
    cursor: pointer;
    background: black;
    text-decoration: none;
    color: #ffffff;
    font-size: 13pt;
    text-transform: uppercase;
    border-radius: 6px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.btn-balao-float-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.btn-balao-float-right:before {

    position: absolute;
    z-index: -1;
    top: calc(50% - 10px);
    right: 0;
    content: '';
    border-style: solid;
    border-width: 8px 0 8px 10px;
    border-color: transparent transparent transparent black;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.btn-balao-float-right:hover,
.btn-balao-float-right:focus,
.btn-balao-float-right:active {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
    color: #FEE600;
}

.btn-balao-float-right:hover:before,
.btn-balao-float-right:focus:before,
.btn-balao-float-right:active:before {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
}



/*whats flutuando*/
.gtm-whatsFlutuante a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #40c351;
    width: 60px;
    height: 61px;
    border-radius: 100%;
}

.gtm-whatsFlutuante img {
    width: 40px;
}

.gtm-whatsFlutuante {
    position: fixed;
    right: 20px;
    bottom: 100px;
}