.logo-couros{
    width: 30%;
}
.nav-link{
    font-size: 13pt;
    margin-left: 20px;
}
.links{
  margin-left: 35%;
}
.nav-link:hover{
  color: #1d1741;
}
.bg-black{
  background-color: black;
}

.nav-link {
  color: black;
}

